/* ============ NAVIGATION =========== */
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Efeito da linha de baixo nos itens do menu quando estao na seçao especifica */

nav#navigation .menu ul li a {
  color: white;
  opacity: 0.7;
}

nav#navigation .menu li a.active {
  opacity: 1;
  font-weight: 700;
}

nav#navigation .menu li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--bg-light);

  position: relative;
  bottom: -2rem;
  left: -0.5rem;

  display: block;

  transition: width 0.2s;
}

nav#navigation .menu li a.active::after {
  padding-inline: 0.8rem;
  width: 100%;
}

/* ============ MENU-EXPANDED =========== */
.open-menu {
  position: relative;
}

body.menu-expanded {
  overflow: hidden;
}

nav .close-menu,
nav .menu,
body.menu-expanded .open-menu {
  position: fixed;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  /* 300ms equivale a 3s */
  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;

  color: white;
}

.menu .button {
  background: white;
  border: none;
  border-radius: 4rem;

  color: var(--primary-color);
  font-weight: 700; /*bold*/
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;

  display: inline-block;
  padding: 1.6rem 3.2rem;

  gap: 1.6rem;
  cursor: pointer;

  margin-top: 4.8rem;
  margin-bottom: 8rem;

  transition: background 0.2s;
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: white;

  filter: brightness(1.2);
}

.menu .button.active {
  background-color: var(--primary-color);
  color: white;

  filter: brightness(1.2);
}

body.menu-expanded .logo,
body.menu-expanded nav .close-menu {
  position: relative;
  z-index: 100;
}

/* ============ HOME =========== */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home h1 {
  font-size: 3rem;
  line-height: 130%;
  margin-bottom: 1rem;
  color: var(--headline);
}

#home h1::after {
  content: '|';
  opacity: 1;
  animation: pisca 0.7s infinite;
  color: var(--primary-color);
}

#home h4 {
  font-size: 2.5rem;
  color: var(--headline);
}

#home .emoji {
  font-size: 3.2rem;
}

#home .scroll {
  position: absolute;
  bottom: 1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-start;
}

#home .scroll p {
  padding-block: 1rem;
  font-size: 1.6rem;
}

#home .scroll svg {
  animation: scroll-down 3s infinite forwards;
  width: 1.8rem;
  fill: var(--bg-dark);
}

/* ============ ABOUT-ME =========== */

#about .div-minha-imagem {
  max-width: 80%;
  margin-inline: auto;
}

#about .div-minha-imagem img {
  border-left: 0.5rem solid var(--primary-color);
  filter: opacity(55%);
  transition: 0.4s;
  width: 100%;
}

#about .div-minha-imagem img:hover {
  filter: opacity(70%);
  border-left: 0.5rem solid var(--bg-light);
}

#about .brazil {
  font-size: 2.5rem;
  font-weight: 700;
  animation: pisca 4s infinite;
  opacity: 1;
}

#about .content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* ============ EXPERIENCIA =========== */

#experience ul {
  margin-top: 2rem;
  font-size: 1.76rem;
}
#experience ul li {
  padding-block: 1rem;
  margin-block: 0.5rem;
  background-color: var(--bg-light);
  border-bottom: 0.3rem solid var(--bg-dark);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#experience ul li:hover,
#experience ul li.active {
  background-color: var(--bg-dark);
  border-color: white;
  font-weight: 600;
  color: var(--bg-light);
}

#experience .experiencia-descricao {
  margin-top: 2rem;
  position: relative;
}

#experience .experiencia-descricao h4 {
  font-size: 3rem;
}

#experience .experiencia-descricao-local {
  font-size: 1.6rem;
  padding-block: 1.5rem;
  color: var(--bg-dark);
  font-weight: 600;
}

#experience .experiencia-descricao-local-dois {
  font-size: 2rem;
}

#experience .experiencia-descricao div {
  display: none;
}

#experience .experiencia-descricao div.active {
  display: block;
}

#experience .experiencia-descricao div.active.show-right {
  animation: 0.5s forwards show-right;
}

/* ============ PROJETOS =========== */

#projects .wrapper {
  margin: 0;
  width: auto;
}

#projects h2 {
  margin-bottom: 3rem;
}

#projects .content {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
}

#projects .content h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid;
  cursor: pointer;
}

#projects .project {
  padding: 2rem;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  margin-inline: auto;
  width: 100%;
}

#projects .project .details-projects {
  display: none;
}

#projects .project .details-projects.active-project {
  display: block;
}

#projects .project .details-projects.active-project.show-down {
  animation: 0.5s forwards show-down;
}

#projects .project p {
  text-align: start;
}

#projects .project .project-stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.project-stack .project-stack-item {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 1.3rem;
  border-bottom: 0.1rem solid;
}

/* ============ TECNOLOGIAS tanto para desktop e mobile =========== */

#technologies .skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

#technologies .skill-list .skill-list-item {
  display: block;
  color: var(--bg-light);
  border-bottom: 0.1rem solid var(--bg-light);
  box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
  background-color: var(--bg-dark);

  margin: 0.5rem;
  padding: 0.8em 1.4em;

  font-weight: 600;
  text-transform: uppercase;

  transition: transform 0.2s ease-in-out;
}

/* ============ Contatos =========== */
#contact header h4 {
  margin-top: 2rem;
  font-size: 2rem;
}
#contact .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#contact .btn-do-lado {
  margin: 1rem 1rem;
}
/* ============ FOOTER para DESKTOP e MOBILE =========== */

footer {
  padding-block: 3rem;
  text-align: center;
  color: var(--primary-color-two);
}

footer .heart {
  margin-inline: 0.2rem;
}

footer .heart svg {
  width: 1.5rem;
  height: 1.5rem;
}

footer .heart path {
  fill: var(--primary-color);
}

footer p,
footer h4 {
  display: inline-block;
}

footer .text-primary {
  transition: 0.5s all;
  font-weight: 700;
}

footer .text-primary:hover {
  color: var(--primary-color-two);
}

/* BACK TO TOP */
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* RESPONSIVE DESKTOP */

@media (min-width: 1024px) {
  /*=== NAVIGATION =================================*/
  /* reset */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .logo {
    font-size: 2rem;
    font-weight: 700;
  }

  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;

    color: var(--primary-color);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    border: none;
    color: white;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-light-2);
  }

  nav#navigation.scroll .menu a.button {
    border-color: white;
    color: white;
  }

  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a::after {
    background-color: var(--primary-color);
  }

  nav#navigation.scroll .menu li a::after {
    background-color: white;
  }

  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a.active,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.2);
    border: none;
  }

  /*=== HOME =================================*/
  #home {
    padding-top: var(--nav-height);
  }

  #home h1 {
    font-size: 4.5rem;
  }

  #home h4 {
    font-size: 3rem;
  }

  #home .btn {
    font-size: 1.6rem;
  }

  #home .scroll p {
    font-size: 1.8rem;
  }

  #about .wrapper,
  #experience .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  #about .col-a,
  #experience .col-a {
    align-self: center;
  }

  #experience {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 480px) {
  /* Projetos */
  #projects .content {
    display: grid;
    /* 
    As unidades em e ex dependem da fonte e podem ser diferentes para cada elemento no documento. em é, simplesmente, o tamanho da fonte. Em um elemento com a fonte de 2in, 1em será, portanto, 2in. Empressando tamanhos, como margins e paddings, com em significa que eles são relativos ao tamanho da fonte e se o usuário tem uma fonte grande (ex. uma tela grande) ou uma fonte pequena (ex. dispositivo handheld) , os tamanhos serão proporcionais. Declarações como 'text-indent: 1.5em' e 'margin: 1em' são extremamente comuns em CSS.
    */
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    gap: 2rem;
  }

  #projects .project {
    width: min(50rem, 100%);
  }

  #projects .project p {
    text-align: inherit;
  }

  /* Contatos */
  #contact .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}
