::-moz-selection {
  background: var(--primary-color);
  color: var(--bg-light);
}

::-webkit-selection,
::selection {
  background: var(--primary-color);
  color: var(--bg-light);
}
  
.details-projects::-webkit-scrollbar {
  width: 0.5rem; /* width of the entire scrollbar */
}

.details-projects::-webkit-scrollbar-track {
  background: var(--primary-color); /* color of the tracking area */
  border-radius: 0.5rem;
}

.details-projects::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* color of the scroll thumb */
  border-radius: 0.5rem; /* roundness of the scroll thumb */
  border: 0.3rem solid var(--bg-light); /* creates padding around scroll thumb */
}