*{
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeue';
  }
  
  body{
    background-color: #f7f7f7;
  }
  
  a{
    text-decoration: none;
  }

  /*Logo do diseasy*/
  
  .logo2{
    margin: 1%;
    height: 150px;
  }
  
  
  /*Campos*/

  .logar-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: calc(80vh);
  }
  form{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  fieldset{
    border: 0;
  }
  
  input, button{
    border: 5px;
  }
  .campo{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  .campo .label-informacoes{
    margin-bottom: 0.5em;
    margin-top: 1em;
    align-self: flex-start;
    color: #4F4F4F;
    font-size: 21px;
  }
  .campo .label-informacoes-senha{
    margin-bottom: -5px;
  
  }
  
  .campo input[type="text"], .campo input[type="email"], .campo input[type="password"]{
    padding: 0 10px;
    border: 1px solid #4F4F4F;
    height: 35px;
    width: 330px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .campo input[type="text"]:hover, .campo input[type="email"]:hover, .campo input[type="password"]:hover{
    border: 1px solid #1073E8;
  }


  .campo input:focus{
    background: rgb(228, 225, 225);
    border: 1px solid #1073E8;
    outline: none;
  }

  .grupo-usuario-errado{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-usuario{
    display: none;
    padding-left: 0.5em;
  }

  .grupo-username{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .error-username {
    position: absolute;
    align-self: flex-end;
    padding: 0.5em;
    display: none;
  }

  .grupo-senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .error-senha {
    position: absolute;
    align-self: flex-end;
    padding: 2.5em;
    display: none;
  }

  .glyphicon-eye-close:hover path, .glyphicon-eye-open:hover path{
    stroke: #1073E8;
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
  }

  .glyphicon-eye-open{
    cursor: pointer;
    position: absolute;
    align-self: flex-end;
    padding: 0.5em;
    display: none;
    
  }

  .glyphicon-eye-open path{
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out; 
  }

  .glyphicon-eye-close path{
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
  }
  
  .glyphicon-eye-close{
    cursor: pointer;
    position: absolute;
    align-self: flex-end;
    padding: 0.5em;
  }


  .botao-logar{
    font-size: 1.2em;
    background: #AFAFAF;
    color: #fff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(160, 159, 159);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 22px;
    height: 60px;
    width: 330px;
    margin-top: 5px;
    cursor: pointer;
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
  }
  
  .botao-logar:hover{
    background: #1073E8;
    color: #fff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
  }

  .botao-cadastrar{
    font-size: 1.2em;
    background: #AFAFAF;
    color: #fff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(160, 159, 159);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 22px;
    height: 60px;
    width: 330px;
    align-self: center;
    margin-top: 5px;
    cursor: pointer;
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
  }
  
  .botao-cadastrar:hover{
    background: #1073E8;
    color: #fff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
  }

  .esqueci-senha-form{
    font-family: 'HelveticaNeue';
    font-size: 16px;
    color: #4F4F4F;
    margin-right: 5px;
    margin-bottom: 2px;
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
  }

  .esqueci-senha-form-a{
    align-self:flex-end;
  }

  .esqueci-senha-form:hover{
    color: #1073E8;
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
  }

  /*Resopnsividade*/
  @media(max-width:411px){
  .campo input[type="text"], .campo input[type="email"], .campo input[type="password"], .campo input[type="date"]{
    height: 35px;
    width: 250px;
    margin:auto;
  }

  .botao-cadastrar{
    width: 350px;
    margin-top: 5px;
  }

  .botao-logar{
    width: 350px;
    margin:0;
  }
  .ou{
    width: 90%;
  }

  .logo2{
    margin: 0;
  }
  
  }

    @media (max-width:360px){
      .botao-logar{
        width: 95%;
        margin:0;
      }
      .botao-cadastrar{
        width: 95%;
        margin-top: 5px;
      }

      .logo2{
        margin: 0;
      }
      .ou{
        width: 80%;
      }
    }
  
  
  
  
  
  
  